.main {
  display: grid;
  grid-template-columns: var(--main-grid-sm);
  grid-template-areas:
    ". title ."
    ". subtitle ."
    ". sideContent ."
    ". content .";
}

.title {
  grid-area: title;
  justify-self: center;

  color: var(--black);
  font-size: var(--h1-size);
  font-weight: 800;
  margin-top: 2em;
  text-align: center;
}

.title::after {
  background: var(--accent-color);
  content: '';
  height: 20px;
  margin-top: -25px;
  margin-left: 10px;
  width: 100%;

  display: block;
}

.subtitle {
  grid-area: subtitle;

  font-size: var(--intro-size);
  margin: 0.5em auto 2em;
  max-width: 600px;
  text-align: center;
}

.content {
  grid-area: content;

  margin-block: 2em 4em;
}

.form {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 1.5em;
  grid-template-areas:
    "name"
    "email"
    "message"
    "sendBtn";
}

.form > div {
  display: flex;
  flex-direction: column;
}

.form label {
  color: var(--black);
  font-size: var(--intro-size);
  font-weight: 700;
}

.form input,
.form textarea {
  border: 1px solid #707070;
  border-radius: 0;
  font-family: inherit;
  font-size: var(--button-size);
  padding: 0.75rem;
}

.form textarea {
  min-height: 100px;
}

.name {
  grid-area: name;
}

.email {
  grid-area: email;
}

.message {
  grid-area: message;
}

.sendBtn {
  grid-area: sendBtn;
  justify-self: flex-end;

  background: var(--accent-color);
  border-radius: 0;
  display: block;
  font-size: var(--button-size);
  font-weight: 700;
  padding: 0.75em 2.5em;
  text-transform: lowercase;
  transition: background-color 250ms, color 250ms;
  width: fit-content;
}

.sendBtn:hover,
.sendBtn:focus {
  background: var(--black);
  color: var(--white);
}

.sideContent {
  grid-area: sideContent;

  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

.contactImg {
  order: -1;

  box-shadow:
    5px 5px 0px var(--black),
    10px 10px 0px var(--accent-color);
  width: 100%;
}

@media (min-width: 750px) {
  .main {
    grid-template-columns: var(--main-grid-lg);
    grid-column-gap: 2em;
    grid-template-areas:
      ". title    title    title    ."
      ". subtitle subtitle subtitle ."
      ". sideContent content  content  .";
  }

  .subtitle {
    margin-bottom: 3em;
  }

  .subtitle::after {
    background: var(--black);
    content: '';
    height: 2px;
    margin: 20px auto 0;
    width: 100px;

    display: block;
  }

  .content {
    margin-top: 0;
    padding-left: 2em;
  }

  .form {
    grid-template-columns: 1fr 2em 1fr;
    grid-template-areas:
      "name . email"
      "message message message"
      ". . sendBtn";
  }

  .sideContent {
    padding-bottom: 4rem;
  }
}
