@import url(/src/variables.css);

.container {
  color: var(--platinum);
  margin-top: 24px;

  display: flex;
  flex-direction: column;
  gap: 44px;
}

.header {
  margin-bottom: 16px;

  display: flex;
  place-items: center;
}

.courseName {
  margin-right: auto;
  text-align: left;
}

.github {
  color: var(--hunyadi-yellow);
  font-size: 24px;
}

.github:hover {
  color: var(--harvest-gold);
}

.description {
  font-size: 14px;
  line-height: 20px;
}

.tags {
  margin-top: 8px;
}

.tags > div {
  border-radius: 8px;
  background: var(--navajo-white);
  color: var(--raisin-black);
  font-size: small;
  padding: 0 8px;
  width: fit-content;
}

.projects {
  margin-top: 24px;

  display: flex;
  flex-direction: column;
  gap: 16px;
}

.links {
  display: flex;
  gap: 24px;
  place-content: center;
}

.links a:first-of-type {
  flex: 1 1 auto;
}

.projects a {
  color: var(--hunyadi-yellow);
  line-height: 24px;
  padding: 4px 16px;
}

.projects a:hover {
  color: var(--harvest-gold);
  text-decoration: underline;
}
