.container {
  color: #404040;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1rem;
  text-align: center;
  width: 100%;

  --bbq-dark: #404040;
  --bbq-orange: #f18119;
  --bbq-gradient: linear-gradient(to left, #ff713b, #ffa51d);
}

.container strong {
  font-weight: 900;
}

.main > * {
  max-width: 350px;
}

.main {
  order: 2;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.main {
  padding: 2em 1em;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main h2 {
  font-size: 1.3125rem;
}

.main .subtitle {
  color: var(--bbq-orange);
  font-weight: 900;
  text-transform: uppercase;
}

.main .description {
  font-weight: 300;
  padding: 2em 0;
}

.footer {
  font-size: 0.90rem;
  margin-top: 3em;
}

.copyright {
  font-weight: 300;
}

.portfolio-link {
  margin-top: 1em;
}

.portfolio-link a {
  color: var(--hunyadi-yellow);
  font-family: Inter, sans-serif;
  font-weight: 700;
}

.portfolio-link a:hover,
.portfolio-link a:focus {
  color: var(--harvest-gold);
  font-family: Inter, sans-serif;
}

@media (min-width: 600px) {
  .container {
    font-size: 1.125rem;
    min-height: 100vh;

    display: flex;
    flex-direction: row;
  }

  .main {
    width: 40%;
  }

  .info .subtitle {
    font-size: 1.75rem;
  }
}
