.body {
  background: #fff;
  font-family: 'Ubuntu', sans-serif;
  width: 100%;

  --black: #150605;
  --white: #FFFFFF;

  --light-blue: #1792D2;
  --deep-blue: #143774;

  --header-bg: #F8F8F8;
  --border-color: #EBEBEB;
  --nav-links: #717171;
  --text-color: #707070;
}

.container {
  margin: 0 auto;
  max-width: 900px;
  padding: 2.5em;
  width: 90%;

  display: flex;
  gap: 2.5em;
  justify-content: space-between;
}

@media (max-width: 675px) {
  .container {
    align-items: center;
    flex-direction: column;
  }
}

.sidebar {
  width: 40%;
}
