@import url(/src/variables.css);

.app {
  background-color: var(--raisin-black);

  display: flex;
  flex-direction: column;
}

.header {
  background: var(--falu-red);
  height: var(--header-height);
  padding-inline: 36px;

  display: flex;
  place-items: center;
}

.headerLeft {
  margin-right: auto;

  display: flex;
  place-items: baseline;
}

.title {
  color: var(--platinum);
  font-family: Montserrat, sans-serif;
  margin-right: 48px;
}

.goBack {
  color: var(--raisin-black);
  line-height: 20px;

  display: flex;
  place-content: center;
}

.goBack i {
  font-size: 20px;
  margin-right: 8px;
}

.title:hover,
.goBack:hover {
  text-decoration: underline;
}

.content {
  flex: 1 1 auto;
  height: calc(100vh - var(--header-height));

  display: flex;
  place-content: center;
  place-items: center;
}

.links {
  display: flex;
  place-content: center;
  gap: 24px;
}

.links a {
  color: var(--hunyadi-yellow);
}

.links a:hover {
  color: var(--harvest-gold);
  text-decoration: underline;
}
