.footer {
  background: #918E9B;
  border-radius: 0px 0px 10px 10px;
  height: 36px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.text {
  color: #2B283A;
  font-size: small;
}
