:root {
  --night: #161618ff;
  --raisin-black: #23252cff;
  --auburn: #ac3931ff;
  --falu-red: #7F2A24ff;
  --hunyadi-yellow: #edae49ff;
  --harvest-gold: #cc8614ff;
  --navajo-white: #FFE0B5ff;
  --anti-flash-white: #F3F6F7;

  --header-height: 80px;
  --footer-height: 48px;
}
